## .NET
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
_ReSharper*/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Rider
.idea/
*.sln.iml

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## publish
PublishScripts/
*.publish.xml
publish/

## secrets
appsettings.*.local.json
secrets.json

## OS
Thumbs.db
.DS_Store
